
.idea/vcs.xml
.idea/workspace.xml
.idea/misc.xml
.idea/
*.csv
*.txt
RLnonparametric_Foil1/saved/*
RLnonparametric_Foil1_old/saved/*
wandb/*
models/*
*.xml


.idea/workspace.xml
.DS_Store
*.pyc
*.pyc
